# Laravel & PHP
/vendor
/storage/*.key
/public/storage
/.phpunit.cache
/.phpunit.result.cache
/composer.lock

# Environment files
.env
.env.*
!.env.example
auth.json

# Node / Frontend
/node_modules
/public/build
/public/hot
/public/mix-manifest.json
npm-debug.log
yarn-error.log

# IDEs & Editors
/.idea
/.vscode
/.fleet

# OS-specific
.DS_Store
Thumbs.db
*.lnk

# Logs & caches
*.log
*.cache
*.tmp
*.swp
*.swo

# Vite
/.vite
